.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.lado-form {
    background-color: #7DBFA8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    width: 40%;
    overflow-x: auto;
}

form {
    padding: 2vh;
    margin-top: 5vw;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.ou {
    display: block;
    text-align: center;
    margin: 1vh 0;
    color: #f2f2f2;
}

label {
    margin-top: 4vh;
    font-size: 1rem;
    margin-bottom: 1vh;
    padding-left: 1vw;
}

input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 2vh;
    background-color: #f2f2f2;
}

h2,
label,
form a,
p a,
p {
    color: #f2f2f2;
}

form a,
p {
    text-decoration: none;
    display: flex;
    font-size: 0.8em;
    margin: 1vh;
}

form a {
    align-self: flex-end;
}

p {
    align-self: flex-start;
    padding-left: 5vh;
}

button {
    margin-top: 2vw;
    padding: 2vh;
    border: none;
    width: 100%;
    align-self: center;
    border-radius: 10px;
    background-color: #A3D9B1;
    color: #ffff;
    font-size: 2vh;
    cursor: pointer;
}

.lado-logo {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
}

.lado-logo img {
    height: 100%;
}

@media (max-width: 1024px) {
    .lado-form {
        padding-top: 65px;
        width: 50%;
    }

    h2 {
        font-size: 6vh;
    }

    form {
        width: 100%;
    }

    .lado-logo {
        width: 50%;
    }

    .lado-logo img {
        height: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    h2,
    label,
    form a,
    p a,
    p {
        color: #7DBFA8;
    }
    .ou{
        color: #7DBFA8;
    }
    .lado-logo {
        justify-content: center;
        margin-top: 30px;
    }

    .lado-logo img {
        max-width: 180px;
        height: auto;
    }

    .lado-form {
        background-color: #ffff;
        width: 100%;
        padding: 10px;
    }

    form {
        width: 90%;
    }

    label {
        font-weight: 600;
    }

    input {
        background-color: #ffff;
        border: solid #7DBFA8 2px;
    }

    button {
        font-size: 1rem;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .lado-logo img {
        margin-top: 4vh;
        max-width: 170px;
        height: auto;
    }

    h2 {
        font-size: 2rem;
    }

    label {
        font-size: 0.9rem;
    }

    input {
        padding: 10px;
    }

    button {
        font-size: 0.9rem;
        padding: 10px;
    }
}