@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2, 
label{
    font-family: "Montserrat Alternates", sans-serif;
    color: #4A6D7C;
}

h3,
p,
li,
a{
    font-family: "Montserrat Alternates", sans-serif;
    color: #4A6D7C;
}

h2{
    font-size: 4vw;
    font-weight: 300;
}

::placeholder{
    color: #7DBFA8;
}